<form action="/answer" data-turbo="false">
  <input class="form-control mb-2" type="text"
  name="question"
  placeholder="Ask your coach anything">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
